<table>
    <tr>
        <td>
           First Name: <b>{{var var.name}}</b>
        </td>
    </tr>
     <tr>
        <td>        
           Last Name: <b>{{var var.last-name}}</b>
        </td>
    </tr>
    <tr>
        <td>
            Email: <b>{{var var.email}}</b>
        </td>
    </tr>
    <tr>
        <td>
           Phone Number: <b>{{var var.phone-number}}</b>
        </td>
    </tr>
    <tr>
        <td>
            Company: <b>{{var var.company}}</b>
        </td>
    </tr>
    <tr>
        <td>
            Department: <b>{{var var.department}}</b>
        </td>
    </tr>
</table>
